@tailwind base;
@tailwind components;
@tailwind utilities;

.article {
  @apply flex flex-col gap-4 font-poppins text-lg leading-relaxed tracking-wide text-neutral-800;
}

.article > h1 {
  @apply font-cormorantGaramond text-4xl md:text-5xl text-center tracking-tight text-rose-900 mb-2;
}

.article > h2 {
  @apply font-cormorantGaramond text-3xl tracking-tight text-rose-900 mt-6;
}

.article > ol {
  @apply list-decimal flex flex-col mx-10 gap-2;
}

.article > ul {
  @apply list-disc flex flex-col mx-10 gap-2;
}

.article > pre {
  @apply bg-neutral-950 text-neutral-50 p-5 overflow-scroll;
}

.article > blockquote {
  @apply pl-5 italic border-l-4 border-rose-200 text-neutral-700;
}

.article > p > img {
  @apply w-1/2 mx-auto;
}
